h1 {
  color: Brown;
  text-align: center;
  border-style: double;
  border-width: 9px;
  border-color: Brown;
  padding: 15px;
  text-shadow: 3px 2px black;
  letter-spacing: 3px;
  background-color: linen;

  font-family: 'Indie Flower', cursive;
  }


.fa-pagelines {
  font-size: 50px;
  vertical-align: middle;
  width:32px;
height:32px;
}
.fa-arrow-alt-circle-right {
  font-size: 30px;
}
.fa-graduation-cap {
  font-size: 30px;
}
.fa-building {
  font-size: 30px;
}
.fa-researchgate {
  font-size: 30px;
}

h2 {
  box-sizing: border-box;
  width: 250px;
  height: 100px;
  padding: 30px;
  border: 10px solid blue;
  color:DarkBlue;
}
p {
  color: LightSlateGrey;
  font-weight: bold;
  font-family: cursive;
  font-style: oblique;
  text-align: justify;
  margin: auto;
}
body {
  background-color: LightGrey;
  font-size: 100%;
  border-style: dashed;
  border-width: 4px;
  border-color: Green;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: upper-roman;
}
li:nth-child(1) {
    color: green;
}
li:nth-child(2n-2) {
    color: brown;
}
li:nth-child(odd) {
    font-size: 200%;
}
div:nth-child(even) {
    color: red;
}
a:hover {
  background-color:DeepSkyBlue;
  font-size: 36px;
}
a {
 background-color: orange;
 color: Black;
 font-size: 14px;
 transition-property: font-size;
 transition-duration: 4s;
 transition-delay: 2s;
}
img {
  border-style: double;
  border-color: blue;
  border-width: 3px;
  width: 10%;
  padding: 10px;
}

footer P.a {
  font-family: 'Lobster', cursive;
  line-height: 5px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
  justify-content: space-around;
  width: 750px;
  height: 200px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 30px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  position: inherit;
}
.fa-project-diagram {
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.fa-project-diagram:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.fa-pagelines {
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.fa-pagelines:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
